<div class="container-gauche ombre">
    <div><img class="image-rang" src="{{ asset('image/rangArgentClean.png') }}" alt=""></div>
    <div class="policeRang">Rang Argent</div>
    <div><i id="infoResultat"></i></div>
    <div id="affichageScore"></div>
</div>