
    <div class="container-header">
        <nav class="nav">
            <div class="boiteLogo">
                <img class="logo" src="{{ asset('image/logo2.png') }}" alt="logo">
            </div>
            <ul>
                <li>Jouer</li>
                <li>Option</li>
            </ul>
        </nav>
    </div>

