{% extends 'base.html.twig' %}

{% block title %}Confirmation inscription{% endblock %}

{% block body %}
    <div class="div-centre">
        <h1>Confirmation inscription</h1>
        <div class="marginBottom3vh">
            <p>Vous avez reçu un mail de confirmation afin de pouvoir finaliser votre inscription. Ce lien expirera dans
                1 heure.</p>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou Cliquez <a href="{{ path('app_relance_email', {'id':id}) }}">ici</a></p>
        </div>

    </div>
{% endblock %}
