{% extends 'base.html.twig' %}

{% block title %}Confirmation inscription{% endblock %}

{% block body %}
    <div class="container-centre">
        <div class="div-centre">
            <h1 class="h1SansMargeHaute">Confirmation inscription</h1>
            <p>Vous avez reçu un mail de confirmation afin de pouvoir finaliser votre inscription. Ce lien expirera dans 1 heure.</p>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou Cliquez ici</p>
        </div>
    </div>

{% endblock %}
