<h1>Salut,</h1>

<p>Pour valider l'inscription, merci de cliquer sur le lien suivant : </p>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    <p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
    <p>Vous recevez cet email car vous avez récemment créé un nouveau compte sur League Of Calculate. Si ce n'est pas le cas, veuillez ignorer cet email.</p>
    <p></p>

<p>
    Merci !
</p>
