{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'fragments/container-gauche.html.twig' %}
    <canvas class="container-droite ombre">
        <div id="affichageNiveau"></div>
        <div class="chrono"></div>
        <div id="operation"></div>
        <div class="reponse"></div>
        <button class="niveauSuivant displayNone">Niveau suivant</button>
    </canvas>


{% endblock %}
{% block javascript %}
<script src="{{ asset('js/calculSolo.js') }}"></script>
{% endblock %}
