{% extends 'base.html.twig' %}

{% block title %}Calcul mental{% endblock %}

{% block body %}
    <div>
        {% include 'fragments/container-gauche.html.twig' %}
        <div class="container-droite ombre">
            <div id="affichageNiveau"></div>
            <div class="chrono"></div>
            <div id="operation"></div>
            <div class="reponse"></div>
            <button class="niveauSuivant displayNone">Niveau suivant</button>
        </div>
    </div>



{% endblock %}
{% block javascript %}
<script src="{{ asset('js/calculSolo.js') }}"></script>
{% endblock %}
