<h1>Salut,</h1>

<p>Pour créer un nouveau mot de passe, cliquez sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire
    dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
<p>Vous recevez cet email car vous avez récemment demandé la création d'un nouveau mot de passe sur le site League Of Calculate. Si ce n'est pas le cas, veuillez ignorer cet email.</p>