{% extends 'base.html.twig' %}

{% block title %}Nouveau mdp{% endblock %}

{% block body %}
    <div class="div-centre">
        <h1>Créer un nouveau mot de passe</h1>
        {{ form_start(resetForm, {'attr':{'class':'formulaire'}}) }}
        {{ form_label(resetForm.plainPassword) }}
        {{ form_widget(resetForm.plainPassword, {'attr' : {'class':'champs-formulaire'}}) }}
        <button class="buttonValider marginTop3vh">Valider</button>
        {{ form_end(resetForm) }}
    </div>

{% endblock %}
