html {
    height: 100%;
    color: black;
    background-color: #7771be;
}

body {
    font-family: Bradley Hand, Comic Sans MS, cursive !important;
    padding: 10px 1vw;
    height: 100%;
}

main {
    height: 88%;
    display: flex;
    align-items: flex-start;

}

h1 {
    font-family: Bradley Hand, Comic Sans MS, cursive !important;
    color: black !important;
    font-size: 1.6rem;
    margin-bottom: 3vh !important;
}

p {
    font-size: 0.8rem;
    margin: 0;
}


/* Header */

.container-header {
    height: 12%;
    display: flex;
    justify-content: space-between;
}

.boiteHeaderGauche {
    display: flex;
    align-items: center;
}

.boiteHeaderDroite {
    display: flex;
    align-items: center;
}

.button {
    /*    !*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*!*/
    background: rgba(230, 230, 230, 0.5);
    font-size: 0.7em;
    border: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 0;
}

.button:hover {
    cursor: pointer;
    /*    !*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 20px 0 rgba(0, 0, 0, 0.24);*!*/
}

.button-menu {
    width: 100px;
    text-align: center;
    font-size: 0.7em;
    background-color: rgba(211, 0, 14, 0);
    border: 0;
}

.button-inscription {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /*font-family: Apple Chancery, cursive;*/
    background-color: rgba(211, 0, 14, 0);
    font-size: 0.7em;
    /*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*/
    border: 0;
    width: 150px;
    text-align: center;
}

.button-inscription:hover .menuDeroulantVisible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuDeroulant {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 151px;
    text-align: center;
    z-index: 2;
}

.menuDeroulantVisible {
    background: #6761b6;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.espaceEntreMenuEtPseudo {
    height: 3vh;
}

.aHeader {
    text-decoration: none;
    color: black;
}

/******************************/

.little-container {
    margin: auto;
}

.flexAccueil {
    display: flex;
}

.imageAccueil {
    width: 33vw;
}

.textAccueil {
    width: 65vw;
    text-align: center;
    padding-right: 5vw;
}

.div-centre {
    background: rgba(230, 230, 230, 0.5);
    text-align: center;
    width: 60vw;
    padding: 3vh 2vw;
    /*padding-bottom: 2vh;*/
    border-radius: 20px;
    margin-bottom: 3vh;
}

.div-scroll {
    background: rgba(230, 230, 230, 0.5);
    text-align: center;
    width: 60vw;
    height: 100%;
    overflow-y: scroll;
    padding: 3vh 2vw;
    /*padding-bottom: 2vh;*/
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 20px;*/
}

.imageEnfantAccueil {
}

/*********************************************/
/* Messages */
/*********************************************/

.erreur {
    font-size: 0.8rem;
}

.instit {
    height: 65%;
}

.imageErreur {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.bulle {
    height: 100%;
}

.bulleEtMessage {
    position: relative;
    height: 35%;
    display: flex;
    align-items: center;
}

#divErreur {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: black;
    /*font-family: Apple Chancery, cursive;*/
}

/*********************************************/
/* Inscription et connexion*/
/*********************************************/

.mpdOublie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8vw;
    width: 40vw;
}

.mpdOublie > label > a {
    color: black;
}

.mentions {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    align-self: flex-start;
}


.mentions > label {
    margin-bottom: 0;
    color: black !important;

}

.checkbox {
    width: 17px; /* Ajustez la taille */
    height: 17px; /* Ajustez la taille */
}

label > a {
    color: rgb(0, 0, 238);
    text-align: left;
    text-decoration: none;
}

label {
    font-size: 0.8rem;
    color: black !important;
}

.champs-formulaire {
    height: 4vh !important;
    width: 40vw !important;
    /*font-family: Apple Chancery, cursive;*/
    border-radius: 10px;
    background: #7771be;
    border: none;
    font-size: 0.8rem;
    margin-bottom: 3vh !important;
}

.flex-formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonValider {
    background: transparent;
    font-size: 0.7em;
    border: 2px solid #7771be !important;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    width: auto !important;
    color: black;
}

.buttonEffacer {
    background: transparent;
    font-size: 0.7em;
    border: 2px solid #d32121 !important;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    width: auto !important;
    color: black;
    margin-top: 3vh !important;
}

.messageErreur {
    font-size: 0.7rem;
    color: #b23232;
    text-align: center;
}

/*********************************************/
/*********************************************/
/*********************************************/

.container-gauche {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 300px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-droite {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 10px;
    width: calc(100% - 330px);
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ombre {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#operation {
    margin-top: 3vh;
    font-size: 2rem;
    /*font-family: Trebuchet, sans-serif;*/
}

.reponse {
    margin-top: 5vh;
    font-size: 2rem;
    /*font-family: Trebuchet, sans-serif;*/
}

.victoire {
    font-size: 2rem;
    color: #06d300;
}

.defaite {
    font-size: 2rem;
    color: #d3000e;
}

#affichageScore, #affichageEchec {
    font-size: 1rem;
}

#affichageNiveau {
    font-size: 1rem;
    margin-top: 5vh;
}

.chrono {
    font-size: 1rem;
    margin-top: 10vh;
}

.bravo {
    margin-top: 5vh;
    font-size: 1rem;
}

.niveauSuivant {
    margin-top: 50px;
}


.image-rang {
    height: 120px;
    margin-top: 15px;
}

.policeRang {
    font-size: 1.5em;
}

.button-central {

}

#infoResultat, #affichageScore {
    margin-top: 30px;
}

.liste-erreurs {
    margin-top: 1.5vh;
    font-size: 1em;
}

/* OUTILS */

.police {
    font-family: Bradley Hand, Comic Sans MS, cursive !important;
}

.marginTop3vh {
    margin-top: 3vh;
}

.displayNone {
    display: none;
}

.marginBottom3vh {
    margin-bottom: 3vh;
}

.flex-gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-gauche {
    text-align: left;
}

.flexColonne {
    flex-direction: column;
}

.flex {
    display: flex;
}

.centrerHz {
    justify-content: center;
}

.fontSizeSmall {
    font-size: 0.6rem;
}

.colonne {
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .button, .button-inscription, .button-menu {
        font-size: 0.9em;
    }

    .div-centre {
        width: 80vw;
    }

    .champs-formulaire, .mpdOublie {
        width: 60vw !important;
    }
}

@media screen and (max-width: 500px) {

    .mpdOublie {
        display: block;
    }

    .mpdOublie > label:first-child {
        width: auto;
        margin-bottom: 2vh;
    }

}

/*@media screen and (max-height: 530px) {*/
/*    main {*/
/*        height: auto;*/
/*    }*/

/*    body {*/
/*        height: auto;*/
/*    }*/
/*}*/

@media screen and (max-height: 390px) {
    .erreur {
        font-size: 0.7rem;
    }
}

@media screen and (max-height: 340px) {
    .erreur {
        font-size: 0.6rem;
    }
}

@media (orientation: portrait) {
    .flexAccueil {
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }
    .little-container {
        margin-top: 4vh;
    }

}