html {
    font-family: Apple Chancery, cursive;
    height: 100%;
}

body {
    background-color: #7771be;
    padding-top: 10px;
    height: 100%;
}

main {
    height: 88%;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 2vh !important;
}

/* Header */

.container-header {

    height: 12%;
    /*width: 98%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boiteHeaderGauche {
}

.boiteHeaderDroite {
    display:flex;
    align-items:center;
}


.button {
    /*    !*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*!*/
    background: rgba(230, 230, 230, 0.5);
    font-size:0.7em;
    border: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 0;
}

.button:hover {
    cursor: pointer;
    /*    !*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 20px 0 rgba(0, 0, 0, 0.24);*!*/
}

.button-inscription {
    font-family: Apple Chancery, cursive;
    background-color: rgba(211, 0, 14, 0);
    font-size:0.7em;
    /*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*/
    /*border: 2px solid #eb6020;*/
    border: 0;
    /*height: 5vh;*/
}

.button-inscription:hover {
    cursor: pointer;
    /*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 20px 0 rgba(0, 0, 0, 0.24);*/
}

.boutonProfil {
    text-align: center;
    font-family: Apple Chancery, cursive;
    background: #ebd620;
    border-radius: 5px;
    height: 5vh;
    border: 0;
    margin-top: 1vh;
    width: 30vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutonProfil:hover {
    cursor: context-menu;
}

.aHeader {
    text-decoration: none;
    color: black;
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
}

/******************************/

.div-centre {
    background: rgba(230, 230, 230, 0.5);
    text-align: center;
    width: 60vw;
    padding-top: 3vh;
    /*padding-bottom: 2vh;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/*********************************************/
/* Inscription et connexion*/
/*********************************************/

.mentions {
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.mentions>label {
    margin-bottom:0;
}

.checkbox {
    width: 17px; /* Ajustez la taille */
    height: 17px; /* Ajustez la taille */
}

label > a {
    color: rgb(0, 0, 238);
    text-align: left;
}

label {
    font-size: 0.8rem;
}

.champs-formulaire {
    height: 4vh !important;
    width: 40vw !important;
    font-family: Apple Chancery, cursive;
    border-radius: 10px;
    background: #7771be;
    border: none;
    font-size: 0.8rem;
    margin-bottom: 3vh !important;
}

.flex-formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw
}

.buttonValider {
    background: transparent;
    font-size:0.7em;
    border: 2px solid #7771be !important;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    width: auto !important;
    color : black;
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
}



/*********************************************/
/*********************************************/
/*********************************************/

.container-gauche {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 300px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-droite {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 10px;
    width: calc(100% - 330px);
    height: calc(100vh - 16vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.ombre {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#operation {
    margin-top: 3vh;
    font-size: 5em;
    font-family: Trebuchet, sans-serif;
}

.reponse {
    margin-top: 5vh;
    font-size: 5em;
    font-family: Trebuchet, sans-serif;
}

.victoire {
    font-size: 5em;
    color: #06d300;
}

.defaite {
    font-size: 5em;
    color: #d3000e;
}

#affichageScore, #affichageEchec {
    font-size: 3em;
}

#affichageNiveau {
    font-size: 3em;
    margin-top: 5vh;
}

.chrono {
    font-size: 3em;
    margin-top: 10vh;
}

.bravo {
    margin-top: 5vh;
    font-size: 3em;
}

.niveauSuivant {
    margin-top: 50px;
}


.image-rang {
    height: 200px;
    margin-top: 30px;
}

.policeRang {
    font-size: 2.5em;
}

.button-central {
    margin-top: 300px;
}

#infoResultat, #affichageScore {
    margin-top: 30px;
}

#liste-erreurs, .erreur {
    margin-top: 2.5vh;
    font-size: 2em;
}

/* OUTILS */

.marginTop3vh {
    margin-top: 3vh;
}

.displayNone {
    display: none;
}


@media screen and (max-width: 1024px) {
    .button, .button-inscription {
        font-size: 0.9em;
    }
}

@media screen and (max-height:530px) {
   main {
       height: auto;
    }
    body {
        height: auto;
    }
}