html {
    font-family: Apple Chancery, cursive;
    height: 100%;
    /*width: 100%;*/
}

/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*}*/

body {
    background-color: #7771be;
    /*margin: 0;*/
    /*width: 100%;*/
    height: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

main {
    height: 88%;
    /*width: 98%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.div-centre {
    background: rgba(230, 230, 230, 0.5);
    /*text-align: center;*/
    /*width: 60vw;*/
    /*padding-bottom: 2vh;*/
}


.container-gauche {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 300px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-droite {
    background: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 10px;
    width: calc(100% - 330px);
    height: calc(100vh - 16vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1SansMarge {
    margin-top: 0;
    margin-bottom: 0;
}

/* Header */

.container-header {

    height: 12%;
    /*width: 98%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boiteHeaderGauche {
}

.boiteHeaderDroite {
    display:flex;
    align-items:center;
}


.button {
/*    !*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*!*/
    background: rgba(230, 230, 230, 0.5);
    font-size:0.7em;
    border: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.button:hover {
    cursor: pointer;
/*    !*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 20px 0 rgba(0, 0, 0, 0.24);*!*/
}

.button-inscription {
    font-family: Apple Chancery, cursive;
    background-color: rgba(211, 0, 14, 0);
    font-size:0.7em;
    /*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);*/
    /*border: 2px solid #eb6020;*/
    border: 0;
    /*height: 5vh;*/
}

.button-inscription:hover {
    cursor: pointer;
    /*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 20px 0 rgba(0, 0, 0, 0.24);*/
}

.boutonProfil {
    text-align: center;
    font-family: Apple Chancery, cursive;
    background: #ebd620;
    border-radius: 5px;
    height: 5vh;
    border: 0;
    margin-top: 1vh;
    width: 30vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutonProfil:hover {
    cursor: context-menu;
}

.aHeader {
    text-decoration: none;
    color: black;
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
}

/******************************/

.ombre {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#operation {
    margin-top: 3vh;
    font-size: 5em;
    font-family: Trebuchet, sans-serif;
}

.reponse {
    margin-top: 5vh;
    font-size: 5em;
    font-family: Trebuchet, sans-serif;
}

.victoire {
    font-size: 5em;
    color: #06d300;
}

.defaite {
    font-size: 5em;
    color: #d3000e;
}

#affichageScore, #affichageEchec {
    font-size: 3em;
}

#affichageNiveau {
    font-size: 3em;
    margin-top: 5vh;
}

.chrono {
    font-size: 3em;
    margin-top: 10vh;
}

.bravo {
    margin-top: 5vh;
    font-size: 3em;
}

.niveauSuivant {
    margin-top: 50px;
}


.image-rang {
    height: 200px;
    margin-top: 30px;
}

.policeRang {
    font-size: 2.5em;
}

.button-central {
    margin-top: 300px;
}

#infoResultat, #affichageScore {
    margin-top: 30px;
}

#liste-erreurs, .erreur {
    margin-top: 2.5vh;
    font-size: 2em;
}

/* Inscription et connexion*/

.mentions {
    display: flex;
    align-items: flex-start;
    margin-left: 10vw
}

label > a {
    color: rgb(0, 0, 238);
    text-align: left;
}

label {
    /*font-size: 0.9em;*/
}

.champs-formulaire {
    height: 6vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 40vw;
    font-family: Apple Chancery, cursive;
    border-radius: 10px;
    background: #7771be;
    padding: 1.5vh;
    border: none;
}

.flex-formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw
}



.button-valider {
    padding: 0.8em 1em;
    border: 2px solid #2c196d;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;


    transition: .3s;
    z-index: 1;
    color: #2c196d;
}

.button-valider::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #2c196d;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-valider:hover::before {
    width: 105%;
}

.button-valider:hover {
    color: #111;
    cursor: pointer;
}


/* OUTILS */

.marginTop3vh {
    margin-top: 3vh;
}

.marginH1 {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.displayNone {
    display: none;
}


@media screen and (max-width: 1024px) {
    .button, .button-inscription {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 712px) {
    .button, .button-inscription {
        font-size: 1.1em;
    }
}

