{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   {% include 'fragments/container-gauche.html.twig' %}
    <div class="container-droite ombre">
        <div>coucoufevc</div>
        <button class="button-central"><a href="{{ path('app_calcul_mental') }}">Jouer</a></button>
    </div>
{% endblock %}
