{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-gauche ombre">
            <div ><i id="infoResultat"></i></div>
            <div class="bordure">
            </div>
    </div>
    <div class="container-droite ombre">
            <div id="operation"></div>
            <div id="reponse"></div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/calculTest.js') }}"></script>
{% endblock %}

