{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-gauche ombre">
        <div><i id="infoResultat"></i></div>
        <div id="affichageScore"></div>
    </div>
    <div class="container-droite ombre">
        <div id="affichageNiveau"></div>
        <div id="operation"></div>
        <div class="reponse"></div>
        <button class="niveauSuivant displayNone">Niveau suivant</button>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/calculTest.js') }}"></script>
{% endblock %}

