<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>League Of Calculate - {% block title %}{% endblock %}</title>
    <link rel="icon" href='/image/logo2.png'>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <script src="https://kit.fontawesome.com/f050e832ac.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
    {% endblock %}

{#    {% block javascripts %}#}
{#        {% block importmap %}{{ importmap('app') }}{% endblock %}#}
{#    {% endblock %}#}

</head>

<body>

{%  include 'fragments/header.html.twig' %}
<main>
{% block body %}{% endblock %}

</main>
{% block javascript %}{% endblock %}
</body>

</html>
