{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="div-scroll">
        <h1>Mentions Légales</h1>
        <div class="flex-gauche">
            <h4>Propriétaire du site</h4>
            <p class="text-gauche">En cas de question relative au site, l'administrateur est joignable à l'adresse
                <b>admin@league-of-calculate.fr</b></p>
            <h4>Hébergeur du site</h4>
            <p><b>O2Switch</b></p>
            <p>222-224 Boulevard Gustave Flaubert</p>
            <p>63000 Clermont-Ferrand</p>
            <p>SARL au capital de 100 000 euros</p>
            <p>SIRET 510 909 80700024</p>
            <p>Tél : 04 44 44 60 40</p>
            <h4>Description des services fournis</h4>
            <p class="text-gauche">Le site <b>League Of Calculate</b> est un site personnel qui propose des jeux
                gratuits accessibles
                aux utilisateurs après inscription. L'inscription nécessite de fournir une adresse email et une année de
                naissance.</p>
            <h4>Propriété intellectuelle</h4>
            <p class="text-gauche">
                L'ensemble des contenus présents sur le site <b>league-of-calculate.fr</b> (textes, images, graphismes,
                logo, icônes,
                etc.)
                est protégé par les lois en vigueur en France relatives à la propriété intellectuelle et au droit
                d'auteur.
                Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
                partielle,
                de ces différents éléments est strictement interdite sans l'accord écrit de l'administrateur du site.
            </p>
            <h4>Protection des données personnelles</h4>
            <p class="text-gauche">
                Les informations recueillies lors de l'inscription sur le site <b>league-of-calculate.fr</b> (adresse
                email et année de
                naissance) sont enregistrées dans un fichier informatisé pour
                permettre l'accès aux jeux et envoyer des notifications liées au site. Conformément à la loi «
                informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les
                faire rectifier en contactant : <b>admin@league-of-calculate.fr</b>
            </p>
            <h4>Limitation de responsabilité</h4>
            <p class="text-gauche">
                <b>league-of-calculate.fr</b> ne saurait être tenu responsable des erreurs rencontrées sur le site, des
                problèmes
                techniques, d'interprétation des informations publiées et des conséquences de leur utilisation.
                L'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
            </p>
        </div>

    </div>

{% endblock %}
