<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Es tu sûr de vouloir supprimer ton compte ? Cette action est irréversible !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="buttonEffacer marginTop3vh">Supprimer le compte</button>
</form>
